body {

    background-image: url('../img/bg-ai.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    margin: auto;
    padding: auto;
    height: auto;

}

body h2,
h3,
h4,
h5,
h6,
h1,
span,
p {
    font-family: 'Barlow', sans-serif;
}

a {
    color: #D79A10;
}

.item {
    color: #D79A10;
}

/*Begining Login view Style*/
.terms {
    color: #D79A10;
}

#login-form {
    margin: 10%;
    margin-top: 20%;
}

#login-form #login-text {
    margin-top: 50px;

}


#bottom-list a {
    display: inline-block;
    padding: 10px;
    color: #a8a5a5;
    margin-top: 80px;
}

#submit {
    border-radius: 50px;
    font-size: larger;
    background-color: #D79A10;
}

#submit{
    color:#FFFFFF;
}