body {
    margin: 0;
    padding: 0;
    height: auto;

}

* {
    font-family: "Barlow";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Barlow";
}

span {
    font-family: "Barlow";
}

code {
    font-family: "Barlow";
}

a {
    font-family: "Barlow";
}

.standard {
    background-color: #d79b1029;
    border-radius: 3px;
    display: inline-block;
    font-family: "Baloo";
    font-size: 0.875em;
    font-weight: bold;
    padding: 1px 6px;
    vertical-align: baseline;
    color: #D79A10;
}

.privilege {
    background-color: #10d75229;
    border-radius: 50px;
    font-weight: bold;
    padding: 6px;
    color: #088728;
}

.notification,
.events,
.profile {
    color: #2c2b2bc8;
}

.profile:hover {
    border: 0px solid #d79b1037;
    color: #D79A10;


}

.notification:hover {
    border: 0px solid #d79b1037;
    color: #D79A10;
}

.events:hover {
    border: 0px solid #d79b1037;
    color: #D79A10;
}

#new-meeting{
    border:1px solid #D79A10;
    border-radius: 50px;
    background-color: #FFFFFF;
    color: #D79A10;
    font-weight: lighter;
}

#new-meeting:hover{
    background-color: #d79b1029;
    border: 1px dashed #D79A10;
    font-weight: bolder;
}
.layout{
    background-color: rgb(236, 236, 236, .2);
    padding: 12px;
    border-radius:15px;
    border:2px dashed rgba(160, 152, 152, 0.2);
    margin:auto;
}

.layout ul{
    list-style-type: none;
    width: 100%;
}

.meet.content{
    width:100%;
}

.meet.title{
    margin-left: 12px;
    font-weight: 900;
}
.meet.btn button{
    border:2px dashed rgba(160, 152, 152, 0.2);
    background-color: white;    
    font-family:"Barlow";
    font-weight:900;
}

.meet.btn button:hover {
    background-color: #d79b108e;
    color: #FFFFFF;
    font-family: "Barlow";
    border: 2px solid #d79b105a;
}