.message-content{
    background-color: aliceblue;
    overflow: ;
    max-height:0px;
    
}

.sent{
    float: right;
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    max-width: 500px;
}

.received{
    float: left;
    background-color: blueviolet;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    max-width: 500px;
}

.s-msg, .r-msg{
    margin-top:;
}