body {
    margin: 0;
    padding: 0;
    height: auto;

}

* {
    font-family: "Barlow";
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Barlow";
}

span {
    font-family: "Barlow";
}

code {
    font-family: "Barlow";
}

a {
    font-family: "Barlow";
}
.standard {
    background-color: #d79b1029;
    border-radius: 3px;
    display: inline-block;
    font-family: "Gudea";
    font-size: 0.875em;
    font-weight: bold;
    padding: 1px 6px;
    vertical-align: baseline;
    color: #D79A10;
}

.privilege {
    background-color: #10d75229;
    border-radius: 50px;
    font-weight: bold;
    padding: 6px;
    color: #088728;
}

.notification,
.events,
.profile {
    color: #2c2b2bc8;
}

.profile:hover {
    border: 0px solid #d79b1037;
    color: #D79A10;


}

.notification:hover {
    border: 0px solid #d79b1037;
    color: #D79A10;
}

.events:hover {
    border: 0px solid #d79b1037;
    color: #D79A10;
}

strong{
    font-family: "Gudea";
    font-size: 18px;
    font-weight: lighter;
}

.circleicon{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: .2px solid rgb(236, 236, 236, .2);
        position: relative;
        left: 20px;
        bottom: 28px;
        box-shadow: 2px 2px gray;
}

.circleicon i{
        position: relative;
        top: 8px;
        left: 10px;
        font-weight: lighter;
}

.circleicon i span{
    margin-left: 20px;
}

.content{
    padding: 20px;
}