body {

    background-image: url('../img/bg-ai.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    margin: auto;
    padding: auto;
    height: auto;

}

body h2,
h3,
h4,
h5,
h6,
h1,
span,
p {
    font-family: 'Quicksand', sans-serif;
}

a {
    color: #D79A10;
}

#submit2 {
    border-radius: 50px;
    font-size: larger;
    background-color: #D79A10;
}

#login-form2 {
    margin: 10%;
    margin-top: 16%;
}

#login-form2 #login-text2 {
    margin-top: 50px;
}

#bottom-list2 a {
    display: inline-block;
    padding: 10px;
    color: #a8a5a5;
}

#bottom-list2 {
    margin: -20px;    
}

.buble {
    animation: vertical 5s infinite linear reverse;
}

/*End sign up view*/